<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <title>主页</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <!--全局css-->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jqueryPlug/jquery.gritter.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jqueryPlug/jquery_fonticonpicker/jquery.fonticonpicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jqueryPlug/jquery_fonticonpicker/jquery.fonticonpicker.bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/font-awesome/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/animate/animate.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrapPlug/bootstrapValidator.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrapPlug/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/js/plugins/ztree/metroStyle.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/bootstrapPlug/bootstrap-table.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/plugins/jqueryPlug/jquery_treegrid/jquery.treegrid.min.css}"/>
    <script th:src="@{/assets/js/jquery-2.0.3.min.js}" ></script>
</div>